/*! I am a banner 
* and I should't be removed
* never
*/

/* Should remove */
.a {
	color: red;
}

/*! Should not remove */
.a {
	color: red;
}

@layer test {
	/* Should remove */
	.a {
		color: red;
	}

	/*! Should not remove */
	.a {
		color: red;
	}
}
