/*! I am a banner 
* and I should't be removed
* never
*/

/*! Should not remove */
@layer root, test;
@layer test {
	.a {
		color: red;
	}
	/*! Should not remove */
	.a {
		color: red;
	}
}
@layer root {
	.a {
		color: red;
	}
	.a {
		color: red;
	}
}
